#inp input{
    margin-right: 20px;
}

#summa{
    float: left;
    margin-right: 20px;
}
#kalon{
    margin-right: 20px;
}
#xurd{
    float: left;
    margin-right: 20px;
}
.adad{
    margin-left: 100px;
    margin-bottom: 40px;
}
#summa{
    margin-right: 0px;
}
#kalon{
    
}
#xurd{

    
}